.banner{
    background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.6),rgba(0,0,0,0.6)) ,url('./images\ \(5\).jpeg');
    height:300px;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
     color: white;
}
.banner h1{
    text-align:center;
    margin:0;
    font-size:25px;
    font-weight:600;
}
.rent{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin-top:100px;
}
.rent .img{
    width:100%;
    height: 300px;
}

@media(max-width:700px){
    .rent{
        display:grid;
        grid-template-columns: repeat(1,1fr);
    }
    .rent .img{
        width:300px;
    }
}